<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubsdk.meizu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />
    
        <!-- ======= 权限 ======= -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.umbrella.game.ubsdk.ui.UBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ubsdk.meizu.UBSDK_MeiZu_MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
               <!--
        注意：魅族游戏SDK 采用插件机制，需要预声明大量占坑Activity、Provider，请务必按照要求进行配置，并且对包名进行替换，
        直接将com.ubsdk.meizu 一键全部替换为游戏的packagename (使用androidstudio 编译的游戏 com.ubsdk.meizu 默认为packagename，可不修改 )
        -->
        <!-- ======================================================================== -->
        <!-- 开始 -->

        <activity
            android:name="com.ipaynow.wechatpay.plugin.inner_plugin.wechat_plugin.activity.WeChatNotifyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <provider
            android:name="com.qihoo360.replugin.component.process.ProcessPitProviderPersist"
            android:authorities="com.ubsdk.meizu.loader.p.main"
            android:exported="false"
            android:process="com.ubsdk.meizu" />
        <provider
            android:name="com.qihoo360.replugin.component.provider.PluginPitProviderPersist"
            android:authorities="com.ubsdk.meizu.Plugin.NP.PSP"
            android:exported="false"
            android:process="com.ubsdk.meizu" />
        <provider
            android:name="com.qihoo360.mobilesafe.svcmanager.ServiceProvider"
            android:authorities="com.ubsdk.meizu.svcmanager"
            android:exported="false"
            android:multiprocess="false"
            android:process="com.ubsdk.meizu" />

        <service
            android:name="com.qihoo360.replugin.component.service.server.PluginPitServiceGuard"
            android:process="com.ubsdk.meizu" />

        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
 	<activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRTS2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1STPTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1STTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1SITS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        
        
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRNTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
	<activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1NRNTS2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
             />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1STPNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1STNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
             />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1SINTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        
        
        
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0NRTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0NRTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0STPTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0STTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0NRNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0NRNTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
             />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0STPNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityN1TA0STNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0NRTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0NRTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0STPTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0STTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0SITS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0NRNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0NRNTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0STPNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0STNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0SINTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:process=":p0"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
             />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0NRTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0NRTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0STPTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0STTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0NRNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0NRNTS1"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0STPNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
            />
        <activity
            android:name="com.ubsdk.meizu.loader.a.ActivityP0TA0STNTS0"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":p0"
            android:screenOrientation="behind"
            android:taskAffinity=":t0"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" 
             />

        <provider
            android:name="com.qihoo360.replugin.component.provider.PluginPitProviderP0"
            android:authorities="com.ubsdk.meizu.Plugin.NP.0"
            android:exported="false"
            android:process=":p0" />
        <provider
            android:name="com.qihoo360.replugin.component.process.ProcessPitProviderP0"
            android:authorities="com.ubsdk.meizu.loader.p.mainN100"
            android:exported="false"
            android:process=":p0" />

        <service
            android:name="com.qihoo360.replugin.component.service.server.PluginPitServiceP0"
            android:exported="false"
            android:process=":p0" />
        
    </application>

</manifest>
