<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubsdk.ad.taptap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
		<uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:name="com.umbrella.game.ubsdk.ui.UBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ubsdk.ad.taptap.UBSDK_AD_TapTap_MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 兼容处理 start  targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为${applicationId}.fileprovider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ubsdk.ad.taptap.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <provider
            android:name="com.lm.listener.FileProvider"
            android:authorities="com.ubsdk.ad.taptap.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>
        <!-- 兼容处理  end -->
        
        <!-- Shenqiad -->
        <activity
            android:name="com.shenqi.video.VideoAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.shenqi.video.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <service android:name="com.shenqi.video.DownloadService" />

        <receiver android:name="com.shenqi.video.VideoAdReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- TG CP -->
        <activity
            android:name="com.soulgame.sgsdk.adsdk.TGCPADActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.soulgame.sgsdk.tgsdklib.testsuite.TestSuiteActivity" >
        </activity>
        <!-- TG ADX -->
        <activity
            android:name="com.yomob.tgsdklib.TGVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yomob.tgsdklib.TGWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- TG Interact -->
        <activity
            android:name="com.soulgame.sgsdk.tgsdklib.TGInteractActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <!-- Durian -->
        <activity
            android:name="com.xhxm.media.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.xhxm.media.VideoVOActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.xhxm.media.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <service android:name="com.xhxm.media.MainService" />

        <!-- ZPlayAds -->
        <activity
            android:name="com.playableads.activity.PlayableADActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <receiver android:name="com.playableads.PlayableReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Lanmei -->
        <activity
            android:name="com.lm.activity.InterstitialVideoProxyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.lm.activity.StimulateVideoProxyActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.lm.activity.DialogProxyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service
            android:name="com.lm.service.LogicService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.adroid.SERVICE" />
            </intent-filter>
        </service>

        <!-- Guangdiantong -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <!-- Centrixlink -->
        <activity
            android:name="com.centrixlink.SDK.FullScreenADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="InnerclassSeparator" />

        <!-- Mobvista -->
        <activity
            android:name="com.mobvista.msdk.activity.MVCommonActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name="com.mobvista.msdk.shell.MVService" >
            <intent-filter>
                <action android:name="com.mobvista.msdk.download.action" />
            </intent-filter>
        </service>

        <activity
            android:name="com.mobvista.msdk.reward.player.MVRewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- UniPlay -->
        <activity
            android:name="com.uniplay.adsdk.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.uniplay.adsdk.InterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver android:name="com.uniplay.adsdk.PackageReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.uniplay.adsdk.DownloadService" />

        <!-- ByteDance -->
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadService" />
        <service android:name="com.bytedance.sdk.openadsdk.service.TTDownloadHandlerService" />

        <!-- OneWay -->
        <activity
            android:name="mobi.oneway.sdk.AdShowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>