<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umbrella.boomdots.nearme.gamecenter"
    android:versionCode="1000"
    android:versionName="3.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <!--SDK 必选权限配置开始-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--SDK 必选权限配置结束-->

    <!--SDK 可选权限配置开始；建议应用配置定位权限，可以提升应用的广告收益-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--如果应用需要精准定位的话加上该权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--SDK 可选权限配置结束-->

    <!--适配异形屏 android:resizeableActivity="true"-->
    <application
        android:name="com.umbrella.game.ubsdk.ui.UBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ubsdk.ad.oppo.UBSDK_AD_OPPO_MainActivity"
            android:label="@string/app_name"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--闪屏广告必须全屏展示，通过android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"设置你的SplashActivity为全屏显示，
        闪屏只支持竖屏展示，通过android:screenOrientation="portrait" 设置你的SplashActivity为竖屏显示-->
        <activity
            android:name="com.ubsdk.ad.oppo.plugin.ADOPPOSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>

        <!--SDK 必选组件配置开始-->
        <activity android:name="com.oppo.mobad.activity.AdActivity" />

        <service android:name="com.oppo.mobad.service.AdService" />
        <!--SDK 必选组件配置结束-->

        <!--Demo 分渠道打包渠道号-->
        <meta-data
            android:name="OPPO_CHANNEL"
            android:value="123" />
        <!--适配异形屏-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
    </application>

</manifest>