<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubsdk.oppo"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.umbrella.game.ubsdk.ui.UBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ubsdk.oppo.UBSDK_OPPO_MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!-- nearme game sdk config goes here -->
        <meta-data android:name="debug_mode" android:value="true" />    <!-- 日志开关，发布时候设置为false -->
		<meta-data android:name="is_offline_game" android:value="true" />  <!-- true:单机游戏   false:网游 -->
		<meta-data android:name="app_key" android:value="c5217trjnrmU6gO5jG8VvUFU0" />  <!-- appKey -->
		
        <activity
			android:name="com.nearme.game.sdk.component.proxy.ProxyActivity"
			android:theme="@style/Theme_Dialog_Custom"
			android:configChanges="orientation"
			android:process=":gcsdk">
		</activity>
		<service
			android:name="com.nearme.game.sdk.component.proxy.ProxyApiService"
			android:process=":gcsdk"
			android:priority="1000">
		</service>
        <!-- nearme game sdk config end -->
    </application>

</manifest>
